@charset "utf-8";
/* CSS Document */
body{
    padding: o px ;
}
.box{
    height: 600px;
    width: 400px;
    margin: 0 auto;
   
}
.sky{
    width: 400px;
    height: 600px;
    position: absolute;
    top: 0;
}
.mntn{
    width: 400px;
    position: absolute;
    top: 350px;
}

.sun{
    transform: translate(140px ,60px);
    width: 80px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    transition-duration: 5s;
    transition-timing-function: linear;
    z-index: 5;
    
}
.sun:hover{
    transform: translate(235px,459px);
    /*background: linear-gradient(red, yellow );*/
}

